.fifth-step {
  /* max-width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fifth-step img,
.fifth-step h1 {
  transform: translateX(-5rem);
}
.fifth-step p {
  max-width: 620px;
}
