:root {
  /* Primary Colors */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* Neutral Colors */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --body-font-size: 16px;
}

/* Example usage */
.primary-text {
  color: var(--marine-blue);
}

.secondary-text {
  color: var(--cool-gray);
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoC1CzjvWyNL4U.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoKfw7z.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoKfA7z.ttf') format('truetype');
}
body {
  background-color: var(--magnolia);
  color: var(---white);
  font-family: 'Ubuntu', sans-serif;
  font-size: var(--body-font-size);
}

/* Example usage */
h1 {
  font-weight: 700; /* Use the 700 weight for headers */
}
.app {
  width: 70%;
  background-color: var(---white) !important;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  height: 588px;
  margin: 20px 15%;
  border-radius: 7px;
  display: flex;
}
.isNextStep {
  background-color: var(--marine-blue);
}
.isConfirm {
  background-color: var(--purplish-blue);
}

.next-step {
  /* margin-top: 3rem;
  margin-left: 62%; */
  padding: 0.5rem 1rem;
  /* background: var(--marine-blue); */
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  font-size: 1rem;
  color: var(--white);
  cursor: pointer;
  font-weight: bold;
}
.go-back {
  background: none;
  border: none;
  color: var(--cool-gray);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
#view {
  margin: 3rem 0 0 1rem;
  color: black;
  width: 600px;
  transition: transform 2s ease-in-out;
  display: flex;
  flex-direction: column;
}
.buttons {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
button {
  float: inline-end;
}

@media screen and (max-width: 375px) {
  .app {
    width: 100%;
    margin: 0;
    height: fit-content;
  }
  body {
    position: relative;
  }
}
